//global variables

//colors
$white: #fff;
$black: #000;
$grey: #9a9a9a;

$font: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, helvetica neue, sans-serif;

html,
body {
  font-family: $font;
  color: $black;
  font-size: 16px;
  background-color: $white;
  font-weight: 300;
  @media (max-width: 1366px) {
    font-size: 14px;
  }
  @media (max-width: 976px) {
    font-size: 12px;
  }
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $black;
  }
  @media (max-width: 976px) {
    font-size: 12px;
  }
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.container {
  position: relative;
  left: 0%;
  width: 40vw;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  position: relative;
  height: 8vh;
}

//sidebar
.sidebar {
  position: fixed;
  top: 10%;
  width: 10vw;
  .nav-links {
    list-style-type: none;

    li {
      margin-top: 20px;
      font-size: 16px;
      a {
        color: $grey;
        &:hover {
          color: $black;
        }
      }
      &.i1 {
      }
      &.i2 {
      }
      &.i3 {
      }
      &.i4 {
      }
      &.active {
        a {
          color: $black;
        }
      }
    }
  }
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: right;
  h1 {
    font-size: 3em;
    @media (max-width: 1366px) {
      font-size: 3em;
    }
    @media (max-width: 976px) {
      font-size: 2.5em;
    }
    @media (max-width: 768px) {
      font-size: 2em;
    }
}
    h2 {
        @media (max-width: 1366px) {
            font-size: 2em;
          }
          @media (max-width: 976px) {
            font-size: 1.75em;
          }
          @media (max-width: 768px) {
            font-size: 1.5em;
          }
    }

  ul {
    list-style-type: none;
    float: right;
  }
  li {
    float: left;
    margin-left: 20px;
    font-size: 1.5em;
    .icon {
    @media (max-width: 1366px) {
        font-size: 1em;
      }
      @media (max-width: 976px) {
        font-size: 1em;
      }
      @media (max-width: 768px) {
        font-size: 1.25em;
      }
    }
  }
  
}

.projects {
  .extIcon {
    font-size: 10px;

    @media (max-width: 1366px) {
      font-size: 8px;
    }
    @media (max-width: 976px) {
      font-size: 7px;
    }
    @media (max-width: 768px) {
      font-size: 6px;
    }
  }
  .professional {
    .pro-projects {
      li {
        list-style-type: none;
      }
      h1 {
        margin-left: -20px;
      }
      h3 {
      }
    }
  }
  .school {
    .school-projects {
      li {
        list-style-type: none;
      }
      h1 {
        margin-left: -20px;
      }
    }
    @media (max-width: 600px) {
      font-size: 0.75em;
    }
  }
}

.aboutme {
    .intro {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
  .imageofme {
    // position: absolute;
    // z-index: 0;
    // top: 0%;
    // left: 60%;
    width: 200px;
    @media (max-width: 1366px) {
        top: 4%;
      width: 150px;
    }
    @media (max-width: 976px) {
        top: 8%;
      width: 100px;
    }
    @media (max-width: 768px) {
     top: 12%;
     left: 60%;
      width: 50px;
    }
  }

  line-height: 1.5;
  .aboutprofessional {
    margin: 10px 0;
  }
  .abouthobbies {
    margin: 10px 0;
  }
  .keywords {

  }
  .jungle {
      color: $grey;
  }
}

.resume {
  margin-top: 50px;
  .education {
    margin-top: 10px;
    &.details {
      .overall {
        display: flex;
        justify-content: space-between;
        font-size: 0.9em;
        .programme {
          font-weight: bold;
        }
        .time {
          margin-right: 20px;
        }
      }
      .specifics {
        font-style: italic;
        font-size: 0.8em;
      }
    }
  }
}

.hireme {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: right;
    h1 {
      font-size: 3em;
      @media (max-width: 1366px) {
        font-size: 3em;
      }
      @media (max-width: 976px) {
        font-size: 2.5em;
      }
      @media (max-width: 768px) {
        font-size: 1.8em;
      }
    }
    h2 {
    }
    ul {
      list-style-type: none;
      float: right;
    }
    li {
      float: left;
      margin-left: 20px;
      .icon {
        @media (max-width: 1366px) {
            font-size: 1em;
          }
          @media (max-width: 976px) {
            font-size: 1em;
          }
          @media (max-width: 768px) {
            font-size: 1.25em;
          }
        }
    }
  }

.footer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    color: $grey;
    font-size: 0.6em;
  }
}
